body{
    font-family: 'Montserrat', 'sans-serif';
    background-color: lightslategray;
}

header{
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 75, 0);
}

main{
    height: 95vh;
    min-width: 1100px;
    margin: .5rem auto;
    background-color: brown;
    z-index: 2;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}
.fa-bell-slash{
    font-size: 2rem;
    border-radius: 50%;
}

.notify-wrapper > p{
    font-size: .9rem;
}
.notify-wrapper > a{
    font-size: .6rem;
}
.contact-name > i{
    font-size: 3rem;
}
.contact-name > img{
    height: 55px;
    border-radius: 50%;
}
.contact-name-description > span{
    font-size: .8rem;
}
