body{
    font-family: 'Montserrat', 'sans-serif';
    background-color: #DBDBD3;
}

header{
    height: 10vh;
    width: 100%;
    background-color: #009688;
}

main{
    min-width: 1100px;
    margin: .5rem auto;
    z-index: 2;
    position: absolute;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
}
i{
    color: #B1B1B1;
    cursor: pointer;
}
.my-span-color{
    color: #B1B1B1;
}
.my-container{
    height: 100%;
}
.my-container > .row{
    height: 100%;
}
.fa-bell-slash{
    font-size: 2rem;
    border-radius: 50%;
}
.notify-wrapper > p{
    font-size: .9rem;
}
.notify-wrapper > a{
    font-size: .6rem;
}
.notify-container{
    background-color: #8EDAFC;
}
.contact-name > i{
    font-size: 3rem;
}
.contact-name > img{
    margin-right: .5rem;
    height: 55px;
    border-radius: 50%;
}
.contact-name-description > span{
    font-size: .8rem;
}
.boolzapp-search{
    height: 22vh;
}
.boolzapp-contact{
    height: 74vh;
    overflow-y: scroll;
}

.my-contact-card{
    min-height: 83px;
}
.my-contact-card:hover{
    background-color: lightgrey!important;
    cursor: pointer;
}

.my-chat-view{
    height: 85%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}
.my-row-write-text{
    height: 60px;
}
.my-row-write-text input{
    width: 34rem;
}

.my-chat-area{
    display: none;
}